
xcode/VJ_Boilerplate.xcodeproj/project.xcworkspace/xcshareddata/TinyTrip.xccheckout

xcode/VJ_Boilerplate.xcodeproj/xcuserdata

xcode/VJ_Boilerplate.xcodeproj/project.xcworkspace/xcuserdata

xcode/build