
xcode/VJ_Boilerplate.xcodeproj/project.xcworkspace/xcshareddata/TinyTrip.xccheckout

xcode/VJ_Boilerplate.xcodeproj/xcuserdata/sebastianmeier.xcuserdatad/xcschemes/TinyTrip.xcscheme

xcode/VJ_Boilerplate.xcodeproj/xcuserdata/sebastianmeier.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

xcode/VJ_Boilerplate.xcodeproj/xcuserdata/sebastianmeier.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

xcode/VJ_Boilerplate.xcodeproj/xcuserdata/sebastianmeier.xcuserdatad/xcschemes/xcschememanagement.plist

xcode/VJ_Boilerplate.xcodeproj/project.xcworkspace/xcuserdata/sebastianmeier.xcuserdatad/UserInterfaceState.xcuserstate

xcode/VJ_Boilerplate.xcodeproj/project.xcworkspace/xcuserdata/sebastianmeier.xcuserdatad/WorkspaceSettings.xcsettings
